.heading-one-for-part-1 {
    color:white;
    font-size: 45px;
    font-weight: bold;
    padding-top: 100px;
    text-align: center;
}
.background-color{
    background-image: linear-gradient(to left,#0b2e38,#041a21);
    height: 700vh;
}
.span-for-part-1{
    color: greenyellow;
    font-style: italic;
}
.paragraph-one-for-part-1{
    color: white;
    font-size: 20px;
    padding-top: 0;
    font-weight: normal;
    text-align: center;
}
.head-two-for-part-1{
    color: white;
    font-size: 50px;
    padding-top: 75px;
    padding-bottom: 40px;
    text-align: center;
}
.span-green{
    color: greenyellow;
}
.button-one
{
    width: 350px;
    height: 45px;
}
.button-two{
    background-color: transparent;
    color: white;
    width: 350px;
    height: 45px;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
}
.button-one-for-part-1{
    padding-bottom: 30px;
    text-align: center;
}
.button-one1{
    margin-top: 50px;
    padding-bottom:30px;
    text-align: center;
}
.button-one2{
    margin-top: 50px;
    padding-bottom:30px;
}
.paragraph-two-for-part-two{
    color: white;
    font-weight: normal;
    font-size: 20px;
    font-family: "Roboto";
    padding-top: 20px;
    text-align: center;
}
.span-two-for-part-1{
    text-decoration: line-through solid greenyellow;
}
.background-color-part-two{
    background-color: #060d30;
    height: 90vh;
}
.heading-part-two{
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 60px;
    font-family: "Roboto";
    font-weight: bold;
}
.image-logo{
    width: 100px;
    height: 100px;
}
.logo-image{
    padding: 70px;
    border-radius: 40px;
}
.trending-button{
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    border-width: 0px;
    margin: 5px;
}
.trending-button-one {
    background-color: transparent;
    color: white;
    border-radius: 20px;
    border-color: white;
    border-width: 2px;
    width: 70px;
    height: 40px;
    padding-right: 10px;
    margin: 5px;
}
.trending-button-productivity{
    background-color: transparent;
    color: white;
    border-radius: 20px;
    border-color: white;
    border-width: 2px;
    width: 120px;
    height: 40px;
    margin: 5px;
}
.button-part-two{
    padding-top: 40px;
    text-align: center;
}
.background-part-three{
    background-color: #4f667c;
    border-radius: 10px;
    color: white;
    margin-left: 280px;
    margin-top: 40px;
    padding-bottom: 10px;
}
.background-part-three-two{
    background-color: #4f667c;
    border-radius: 10px;
    color: white;
    margin-left: 20px;
    margin-top: 40px;
    padding-bottom: 10px;
}
.heading-for-container{
    color: white;
    font-size: 26px;
    font-family: "Roboto";
    font-weight: bold;
    padding: 10px;
}
.paragraph-for-container{
    color: white;
    font-weight: normal;
    font-size: 19px;
    font-family: "Roboto";
    padding: 10px;
}
.paragraph-for-container-two{
    color: white;
    font-weight: bold;
    font-size: 19px;
    font-family: "Roboto";
    padding: 10px;
}
.anchor-element{
    padding: 10px;
    text-decoration: none;
}
.background-color-part-three{
    background-color: #060d30;
    height: 85vh;
}

.text-container{
    color: #f29116;
    font-size: 18px;
    font-family: "roboto";
    background-color:#4d4746 ;
    border-radius: 30px;
    border-width: 3px;
    border-color: #f29116;
    border-style: solid;
    width: 220px;
    height: 40px;
    padding-top: 5px;
    padding-left: 5px;
    margin-left: 640px;
    margin-top: 30px;
}
.container-part-two{
    background-color: #1a314d;
    margin-left: 120px;
    margin-top: 40px;
    padding: 20px;
    width: 580px;
    height: 220px;
    margin-left: 480px;
}
.heading-container{
    color: white;
    font-size: 22px;
    font-weight: bold;
    font-family: "Roboto";
}
.paragraph-container{
    color:white;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: normal;
}
.container-part-four{
    margin: 150px;
    color: white;
    font-family: "Roboto";
}
.heading-four{
    font-size: 50px;
    font-weight: bold;
}
.list-four{
    font-size: 24px;
    padding:20px ;
}
.background-five{
    background-color: #060d30;
    height: 60vh;
}
.heading-five{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 100px;
}
.forms-five{
    margin: 100px;
    margin-left: 100px;
}
.paragraph-five{
    color: white;
    font-size: 20px;
    font-family: "Roboto";
    padding:20px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
}
.background-six{
    background-color: #060d30;
    height: 95vh;
}
.container-one1{
    margin-left: 210px;
    margin-top: 100px;
    padding: 10px;
}
.container-one2{
    margin-left: 210px;
    margin-top:50px;
    padding: 10px;
}
.nxt-logo{
    width: 100px;
    height: 100px;
    background-size: cover;
}
.container-para-one{
    color: #505860;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}
.container-anchor-one{
    color: #484e54;
    font-size: 18px;
    font-family: "Roboto";
    text-decoration: none;
}
.container-para-two{
    color: #484e54;
    font-size: 20px;
    padding-top: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.container-para-three{
    color: #484e54;
    font-size: 20px;
    padding-top:30px;
}
.anchor-three{
    text-decoration: none;
}
.image-logo-container{
    width: 60px;
    height: 40px;
}
.logo-image1{
    margin: 10px;
}
.face-logo{
    height: 30px;
    width: 30px;
    margin-left: 150px;
    margin-top: 30px;
}
.insta-logo{
    height: 30px;
    width: 30px;
    margin-left: 20px;
    margin-top: 30px;
}
.linkedin-logo{
    height: 50px;
    width: 50px;
    margin-left: 50px;
}
.linkedin-photo{
    height: 60px;
    width: 70px;
    margin-right: 30px;
}
.mail-logo{
    height: 22px;
    width: 22px;
    margin-right: 10px;
}
.private-para{
    color: #484e54;
    text-decoration: none;
    margin-left: 200px;
    margin-top: 30px;
    font-size: 18px;
}
.terms-para{
    color: #484e54;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 18px;
}